<div>
  <h1>Not Found</h1>
  <h2>Error 404 <img src="../../../assets/logo_polla_con_alas.png" alt="Polla con alas" width="5%"/></h2>
  <h3>Pero disfruta de mi perra y "preta" los botones.</h3>
  <img class="rounded mx-auto d-block" src="../../../assets/lur.JPG" alt="Page not-found" />
  <br />
  <div class="btn-group btn-block">
    <a routerLink="/" class="btn btn-primary">Home</a>
    <a class="btn btn-info text-white" href="https://google.com/" target="_blank">Google</a>
    <a class="btn btn-warning text-white" href="#" data-toggle="modal" data-target="#modal-1">Grimoso</a>
    <a class="btn btn-danger text-white" href="#" data-toggle="modal" data-target="#modal-2">Muy grimoso</a>
  </div>
</div>
<div class="modal fade" id="modal-1">
  <div class="modal-dialog d-flex justify-content-center align-items-center">
    <div class="modal-content">
      <img src="../../../assets/iglesias.jpg" alt="grimoso" title="grimoso"
        id="imagen-modal">
    </div>
  </div>
</div>
<div class="modal fade" id="modal-2">
  <div class="modal-dialog d-flex justify-content-center align-items-center">
    <div class="modal-content">
      <img src="../../../assets/echenique.jpeg"
        alt="muy grimoso" title="muy grimoso" id="imagen-modal">
    </div>
  </div>
</div>
